<app-intro></app-intro>

<button (click)="test()">Test</button>
<span>{{compteur}}</span>
<p *ngIf="compteur == 10">Basta !!!</p>
<p
  [ngStyle]="style1"
  [ngClass]="{'visible':compteur == 10, 'not-visible':compteur != 10}">
  Dosta !!!
</p>

<input type="checkbox" (click)="highlightStudents()"><span>Bons étudiants</span>
<select (change)="selectGroup($event)">
  <option value="0">Sélectionner un groupe</option>
  <option *ngFor="let group of groups">{{group}}</option>
</select>
<table class="table table-bordered table-striped">
  <tr
    *ngFor="let student of students"
    [ngStyle]="{'display':student.group == selectedGroup || selectedGroup == '0'  ? 'table-row' : 'none'}"
    >
    <td>
      <img class="student" [src]="student.image" [alt]="student.lastname">
    </td>
    <td>{{student.firstname}}</td>
    <td>{{student.lastname}}</td>
    <td>{{student.group}}</td>
    <td style="display:none">
      {{ (student.notes[0] + student.notes[1] + student.notes[2]) / 3 }}
    </td>
    <td
      [ngClass]="{'goodStudent':getAverage(student.notes) > 10 && highlightGoodStudents}">
      {{ getAverage(student.notes) }}
    </td>
  </tr>
</table>
